<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Big Brother</title>
</head>

<body>

<div class="container-fluid" style="width: 80%;">
    <div class="jumbotron vertical-center bg-dark">
        <div class="container">
            <div class="text-center">
                <!--h6 class="display-4">Welcome {{user}} !</h6-->

                <div class="container-fluid" style="width: 30%;">
                    <table class="table table-bordered table-striped table-dark">
                        <thead>
                        <tr style="line-height: 12px;">
                            <th scope="col" style="width: 20%">Sensor</th>
                            <th scope="col" style="width: 80%">Value</th>
                        </tr>
                        </thead>
                        <tbody>

                        <!--Fire-->
                        <tr style="line-height: 14px;">
                            <td style="font-size: 26px;">&#128293;</td>
                            <td>{{isFire}}</td>
                        </tr>

                        </tbody>
                    </table>
                    <div class="form-row">
                        <div class="col">
                            <button class="btn btn-outline-primary" ng-click="refreshSensor()">
                                Refresh sensor
                            </button>
                        </div>
                    </div>

                    <br>
                </div>
                <IFRAME src="/big-brother/surveillance/stream" align="center" width="640" height="480" scrolling="no" frameborder="no"></IFRAME>
            </div>
            <br>
        </div>
    </div>
</div>
</body>

</html>
